#form{
    text-align: center;
}
.error{
    background-color: red;
}
.aaa{
    
    background-color: red;
}
#div1{
    display: none;
    color: green;
}
.vvv{
    background-color: white;
    border: white;
}
